---
import BaseLayout from '../layouts/baseLayout.astro';
import Social from '../components/social.astro';
import { isValidEmail } from "../components/emailVerification"  
import { isValidPhoneNumber } from "../components/phoneVerification"  
const pageTitle = "Contact Us";
const phoneNumber = "666-666-6666"
const email = "test@test.com"

const errors = { username: "", email: "", about: "" };
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("name");
    const email = data.get("email");
    const phone = data.get("phone");
    const about = data.get("about");
    if (typeof name !== "string" || name.length < 1) {
      errors.username += "Please Enter Your Name. ";
    }
    if (typeof email !== "string" || !isValidEmail(email)) {
      errors.email += "Email is not valid. ";
    }
    if (typeof about !== "string") {
      errors.about += "Error Prossesing your Request ";
    }
    const hasErrors = Object.values(errors).some(msg => msg)
    if (!hasErrors) {
      return Astro.redirect("/contact");
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---
<BaseLayout pageTitle={pageTitle}>
  <p> Our Contact information</p>
    <p>{phoneNumber}</p>
    <p>{email}</p>

    <h1>Register</h1>
  <form action= "https://formspree.io/f/mkndraqp" method="POST">
    <label>
      Full Name:
      <input type="text" name="name"required />
    </label>
    {errors.username && <p>{errors.username}</p>}
    <label><br>
      Email:
      <input type="email" name="email" required />
    </label><br>
    {errors.email && <p>{errors.email}</p>}
    <label>
      Phone Number:
      <input type="text" id="phone" name="phone" required />
    </label><br>
    <label>
      What can we help you with?
      <textarea id="message" name="message" rows="4" cols="50" required></textarea><br>
    </label><br>
    {errors.about && <p>{errors.about}</p>}
    <button>Send</button><br>
  </form>
    <Social platform="facebook" username="example"/>
    <Social platform="instagram" username="example"/>
</BaseLayout>